/*
.webTitle, .form-group, #loginBtn {
    text-align: center;
}

#id, #pwd {
    border: 1px solid #dadada;
    padding: 15px;
    width: 50%;
    margin-bottom: 5px;
    box-shadow: 0 0 1rem 3px rgba(0 0 0 / 7%);
}
*/
/*
label {
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    text-align: left;
    pointer-events: none;
}

label:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transition: all .3s ease;
}

label span {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all .3s ease;
}

input:focus + label span, input:valid + label span {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

input:focus + label::after, input:valid + label::after {
    width: 100%;
    transform: translateY(0);
}
*/

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    outline: 0;
    outline: none;
    font-size: 10px;
}

input::placeholder {
    color: #d9d9d9;
}

input:focus::placeholder {
    color: #bbd9bc;
}

.outline-class {
    width: 30%;
    box-sizeing: border-box;
    margin: 20px auto;
    position: relative;
}

.outline-class label {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 14px;
    padding: 10px;
    background: white;
    font-size: 14px;
    color: #888;
    font-weight: bold;
}

.outline-class input:focus + label {
    color: #74a476;
}

.outline-class input {
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}

.outline-class input:focus {
    width: 100%;
    border: 1px solid #87c589 !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}

.webTitle, .form-group {
    text-align: center;
}

.form-group {
    margin-top: 10%;
}

.container {
    margin-top:10%;
}

#loginBtn {
    border-radius: 30px;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    background: #87c589;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
}

a:link, a:visited {
    color: #888;
}

a:hover {
    color: #000000;
}

a:active {
    color: #87c589;
}