.webTitle {
    text-align: center;
}

#logoutBtn {
    border-radius: 50%;
    height:50px;
    width:50px;
    float:right;
}

img {
    width:200px;
    margin-top:2%;
    margin-left:5%;
    float:left;
    object-fit: cover;
}

.form-group{
    display:grid

}

.outline-class{

}