.webTitle {
    text-align: center;
}

#logoutBtn {
    border-radius: 50%;
    height:50px;
    width:50px;
    float:right;
}

img {
    width:200px;
    margin-top:2%;
    margin-left:5%;
    float:left;
    object-fit: cover;
}

#title{
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;

}

#author{
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;

}

#publisher{
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;

}
