<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainPageCss.css}">
    <link rel="stylesheet" type="text/css" href="css/mainPageCss.css">
    <title>책쟁이</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/writeBookReview.js"></script>
</head>
<body>

<div class="container">
    <div>
        <h1 class="webTitle">책쟁이</h1>
        <form action="/logout" method="post">
            <button id="logoutBtn" type="submit" onclick="location.href='home.html'">로그아웃</button>
        </form>
        <hr>
    </div>

        <!--
        <table id="main">
            <thead>
            <tr>
                <th>제목</th>
                <th>사진</th>
                <th>저자</th>
                <th>출판사</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <tr th:each="board: ${list}">
                <td th:text="${board.title}"></td>
                <td><img th:src="${board.cover}" style="width:60%"></td>
                <td th:text="${board.author}"></td>
                <td th:text="${board.publisher}"></td>
                </tr>
            </tr>
            </tbody>
        </table>
        -->

    <div th:each="board: ${list}" style="width: 30%;">
        <div style="width: 40%; float: left;">
            <img th:src="${board.cover}" style="width: 100%;">
        </div>

        <div style="width: 60%; float: left;">
            <span th:text="${board.title}" style="color: #606060; font-size: 130%; padding-left: 5%"></span><br>
            <span style="color: #9D9D9D; font-size: 70%; padding-left: 5%;">저자</span>
            <span th:text="${board.author}" style="font-size: 70%;"></span>
            <span style="color: #9D9D9D; font-size: 70%;">출판사</span>
            <span th:text="${board.publisher}" style="font-size: 70%;"></span>
            <br>

            <button type="button" id="getReview">리뷰 보기</button>
            <button type="button" id="writeReview" onclick="getTitle([[${board.title}]])">리뷰 작성</button>
        </div>
    </div>

        <!--
        th:text="${board.cover}"
        th:onclick=""|location.href="'@{/logout}'|"
        onclick="location.href='home.html"
        <form action="/members/login" method="post">
            <div class="form-group">
                <div class="outline-class">
                    <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
                    <label for="id">ID</label>
                </div>

                <div class="outline-class">
                    <input type="text" id="pwd" name="pwd" placeholder="비밀번호를 입력하세요">
                    <label for="pwd">PWD</label>
                </div>

                <button type="submit" id="loginBtn">로그인</button><br>
                <a href="/members/join">회원가입</a>
            </div>

        </form>
        -->
</div>

</body>
</html>