<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/reviewCss.css}">
  <link rel="stylesheet" type="text/css" href="css/reviewCss.css">
  <title>책쟁이</title>
</head>
<body>

<div class="container">
    <h1 class="webTitle">책쟁이</h1>
    <form action="/logout" method="post">
      <button id="logoutBtn" type="submit" onclick="location.href='home.html">로그아웃</button>
    </form>

    <form action="/mainPage" method="post">
      <div class="form-group">
          <input type="text" id="title" name="title" placeholder="제목">

        <div class="outline-class">
          <textarea type="text" id="content" name="content" placeholder="내용을 입력하세요."></textarea>
        </div>

        <button type="submit" id="writeBtn">작성</button><br>
      </div>
    </form>
</div>
</body>
</html>