<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/reviewListCss.css}">
  <link rel="stylesheet" type="text/css" href="css/reviewListCss.css">
  <title>책쟁이</title>
</head>
<body>

<div class="container">
  <div>
    <h1 class="webTitle">책쟁이</h1>
    <br>
    <form action="/logout" method="post">
      <button id="logoutBtn" type="submit" onclick="location.href='home.html'">로그아웃</button>
    </form>
    <hr>
  </div>

    <div th:each="review: ${list}" style="width: 30%;">
      <div style="width: 40%; float: left;">
        <img th:src="${cover}" style="width: 100%;">
      </div>

      <div style="width: 60%; float: left;">
        <span th:text="${title}" style="color: #606060; font-size: 130%; padding-left: 5%"></span><br>
        <span style="color: #9D9D9D; font-size: 70%; padding-left: 5%;">저자</span>
        <span th:text="${author}" style="font-size: 70%;"></span>
        <span style="color: #9D9D9D; font-size: 70%;">출판사</span>
        <span th:text="${publisher}" style="font-size: 70%;"></span>
        <br>

      <div style="width: 60%; float: left;">
        <span th:text="${review.id}" style="color: #606060; font-size: 130%; padding-left: 5%"></span><br>
        <span th:text="${review.name}" style="color: #606060; font-size: 130%; padding-left: 5%"></span><br>
        <span th:text="${review.content}" style="color: #606060; font-size: 130%; padding-left: 5%"></span><br>
      </div>

      </div>
  </div>

</body>
</html>