<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/reviewListCss.css}">
  <link rel="stylesheet" type="text/css" href="css/reviewListCss.css">
  <title>책쟁이</title>
</head>
<body>

<div class="container">
  <div>
    <h1 class="webTitle">책쟁이</h1>
    <br>
    <form action="/logout" method="post">
      <button id="logoutBtn" type="submit" onclick="location.href='home.html'">로그아웃</button>
    </form>
    <hr>
  </div>

    <div th:each="review: ${list}" class="mom">
      <span class="form-group">
        <img th:src="${cover}" id="cover" name="cover"><br>
          <span th:text="${title}" id="title"></span><br>
          <span id="저자">저자
           <span th:text="${author}" id="author"></span></span>
          <span id="출판사">출판사
            <span th:text="${publisher}" id="publisher"></span></span>
          <br>
      </span>

        <div class="baby">
          <span th:text="${review.id}" id="reviewId" style="color: #A3C45E"></span>
          <span th:text="${review.name}" id="name" style="color: #606060; ="></span><br><br>
          <div class= "outline-class">
            <span th:text="${review.content}" id="content" style="color: #606060;"></span>
          </div>
        </div>
      </div>
  </div>



</body>
</html>